{% extends 'temp/base.html' %}


{% block content %}

<div style="margin-left: 350px; margin-right:50px; padding-top:40px;">
    <h2 style="color:#465399; font-weight:bold;">Service </a> <a href={% url 'homeback' %}>🖊️</a> </h2>
    <div style="width:40px; background-color:#465399; height:3px; margin-bottom:10px;"></div>

    <p style="border: solid black 1px; width:80em; padding: 5px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea similique architecto tenetur laborum aperiam facilis hic tempora distinctio aut. Inventore, natus quam alias molestias eius nesciunt omnis maxime doloremque pariatur similique culpa aspernatur impedit vitae rerum voluptatem distinctio porro reiciendis enim ducimus magnam dolorum, voluptatum assumenda? Non voluptates delectus dolor?</p>

    <button type="button" class="btn btn-outline-primary">Update</button>




    <div style="display:flex; flex-wrap:wrap; margin-bottom:50px; margin-top:50px; gap:25px;">

        <div style="display:flex; gap:10px; width:30%; align-items:start;">
            <div style="border-radius:50%; padding-right:15px; padding-left:15px; padding-top:13px; padding-bottom:13px; background-color: cornflowerblue;">
                <i style="color:white;" class="bi bi-briefcase"></i>
            </div>
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            
        </div>

        <div style="display:flex; gap:10px; width:30%; align-items:start;">
            <div style="border-radius:50%; padding-right:15px; padding-left:15px; padding-top:13px; padding-bottom:13px; background-color: cornflowerblue;">
                <i style="color:white;" class="bi bi-card-checklist"></i>
            </div>
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            
        </div>

        <div style="display:flex; gap:10px; width:30%; align-items:start;">
            <div style="border-radius:50%; padding-right:15px; padding-left:15px; padding-top:13px; padding-bottom:13px; background-color: cornflowerblue;">
                <i style="color:white;" class="bi bi-bar-chart"></i>
            </div>
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            
        </div>

        <div style="display:flex; gap:10px; width:30%; align-items:start;">
            <div style="border-radius:50%; padding-right:15px; padding-left:15px; padding-top:13px; padding-bottom:13px; background-color: cornflowerblue;">
                <i style="color:white;" class="bi bi-bar-chart"></i>
            </div>
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            
        </div>

        <div style="display:flex; gap:10px; width:30%; align-items:start;">
            <div style="border-radius:50%; padding-right:15px; padding-left:15px; padding-top:13px; padding-bottom:13px; background-color: cornflowerblue;">
                <i style="color:white;" class="bi bi-bar-chart"></i>
            </div>
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            
        </div>

        <div style="display:flex; gap:10px; width:30%; align-items:start;">
            <div style="border-radius:50%; padding-right:15px; padding-left:15px; padding-top:13px; padding-bottom:13px; background-color: cornflowerblue;">
                <i style="color:white;" class="bi bi-bar-chart"></i>
            </div>
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            
        </div>

    </div>

</div>





{% endblock content %}