{% extends 'temp/base.html' %}



{% block content %}

{% load static %}


<section style="margin-left:300px; padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:5px;">
            
    <div style="padding-left:20px; padding-right:20px; padding-top:40px; padding-bottom:5px; background-color: rgba(197, 218, 239, 0.621);">
        <h2 style="color:#465399; font-weight:bold;">Testimonials <a href={% url 'homeback' %}>🖊️</a></h2>

        <div style="width:40px; background-color:#465399; height:3px; margin-bottom:10px;"></div>

        <div style="background-color:white; width:900px; border:solid black 1px; padding: 5px; margin-bottom:3px;">
            <p style="font-size:16px; padding-bottom:20px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus natus blanditiis veritatis quae? Totam consectetur voluptate debitis sed quam quibusdam blanditiis in sint facilis repellendus.</p>
        </div>

        <button type="button" class="btn btn-outline-primary">Update</button>
        

        <section id="testimonials" class="testimonials">
            <div class="container">
        
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                
                    {% for el in allTesti %}

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    {{el.citation}}
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src={% static el.image %} class="testimonial-img" alt="">
                                <h3>{{el.name}}</h3>
                                <h4>{{el.job}}</h4>
                                <div>
                                    
                                </div>
                            </div>
                        </div>

                    {% endfor %}
        
                </div>

                <div class="swiper-pagination"></div>
            </div>
        
            </div>
        </section>
        

        

        <div style="text-align: center; padding-bottom:40px; padding-top: 40px;">
            <button type="button" class="btn btn-outline-success"> <a href={% url 'addTesti' %}>Create</a></button>
        </div>
        

    </div>
    
</section>



{% endblock content %}